# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_SECURE=False

# Buckets
BUCKET_BRONZE=urbanhub-bronze
BUCKET_SILVER=urbanhub-silver
BUCKET_GOLD=urbanhub-gold

# CityBikes
CITYBIKES_URL=https://api.citybik.es/v2

# Collecte
COLLECT_INTERVAL_SECONDS=60